/phantomjs.exe
/chromedriver.exe
ghostdriver.log
*/migrations
__pycache__/
.idea/
/celerybeat*
/db.sqlite3
/tasks.py
/purge.py
CapValue/security*
CapValue/env.py
*.pyc
staticfiles
.env
/static_files/*