/phantomjs.exe
/chromedriver.exe
ghostdriver.log
*/migrations
/static/libs
/static/admin
/static/django_extensions
/static/djcelery
/static/rest_framework
__pycache__/
.idea/
/celerybeat*
/db.sqlite3
/tasks.py
/purge.py
CapValue/security*
CapValue/env.py