/celerybeat-schedule.dat
/celerybeat-schedule.bak
/celerybeat-schedule.dir
*/migrations/*
/db.sqlite3
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/test_script.py
env/
develop-eggs/
downloads/
.installed.cfg
.idea/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
target/
/static_files/
