celery==3.1.20
Django==1.9.2
django-celery==3.1.17
django-gravatar2==1.4.0
django-role-permissions==1.0
djangorestframework==3.3.2
mysqlclient==1.3.7
PyMySQL==0.7.1
redis==2.10.5
selenium==2.49.2
django-extensions==1.6.1
coveralls==1.1