<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">User List :&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge label label-success">{$ vm.account_list_count $}</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table ng-table="vm.tableParams" class="table" show-filter="true">
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="account in $data">
                                    <td title="'Id'" filter="{ id: 'number'}" sortable="'id'">{$ account.id $}</td>
                                    <td title="'Username'" filter="{ username: 'text'}" sortable="'username'">{$
                                        account.username $}
                                    </td>
                                    <td title="'Role'" filter="{ role: 'text'}" sortable="'role'">{$
                                        account.role $}
                                    </td>
                                    <td title="'Isp'" filter="{ isp: 'text'}" sortable="'isp'">{$
                                        account.role $}
                                    </td>
                                    <td title="'Inactive'">20</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>