<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List Seed :&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge label label-success"
                                                                               ng-cloak>{$ vm.seed_list_count $}</span>
                    <img id="mySpinner" src="/static/images/ajax-loader.gif" ng-show="loading"/>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table ng-table="vm.tableParams"
                                   class="table table-hover table-responsive table-bordered editable-table"
                                   ng-hide="loading" show-filter="true">
                                <colgroup>
                                    <col width="5%"/>
                                    <col width="15%"/>
                                    <col width="5%"/>
                                    <col width="5%"/>
                                    <col width="5%"/>
                                    <col width="5%"/>
                                    <col width="5%"/>
                                </colgroup>
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="seed in $data">
                                    <td title="'Id'" filter="{ id: 'number'}" sortable="'id'" style="width: 5%;">
                                        <!-- <a href="#" ng-click="vm.openSeedDetails(seed.id)">{$ seed.id $}</a> -->
                                        {$ seed.id $}
                                    </td>
                                    <td title="'List Name'" filter="{ name: 'text'}" sortable="'name'">
                                        <span class="editable-text">{$ seed.name $}</span>
                                    </td>
                                    <td title="'Entered'" filter="{ created_at: 'text'}" sortable="'created_at'">
                                        {$ seed.created_at | date:'dd-MM-yyyy H:mm:ss' $}
                                    </td>
                                    <td title="'Count'">
                                        {$ seed.emails.length $}
                                    </td>
                                    <td title="'Active'">##</td>
                                    <td title="'Inactive'">##</td>
                                    <td>
                                        <button class="btn btn-default btn-sm" ng-click="vm.openSeedDetails(seed.id)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-sm" ng-click="vm.deleteSeed(seed.id)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>