<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List Seed :&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge label label-success" ng-cloak>{$ vm.seed_list_count $}</span>
                    <img id="mySpinner" src="/static/templates/images/ajax-loader.gif" ng-show="loading"/>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table ng-table="vm.tableParams" class="table" show-filter="true" ng-hide="loading">
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="seed in $data">
                                    <td title="'Id'" filter="{ id: 'number'}" sortable="'id'" style="width: 5%;"><a href="#"  ng-click="vm.openSeedDetails(seed.id)">{$ seed.id $}</a></td>
                                    <td title="'List Name'" filter="{ list_name: 'text'}" sortable="'list_name'">{$
                                        seed.list_name $}
                                    </td>
                                    <td title="'Count'"><a href="#"  ng-click="vm.openEmailDetails(seed.id)">{$ seed.emails.length $}</a></td>
                                    <td title="'Active'">##</td>
                                    <td title="'Inactive'">##</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>