<div ng-show="email_detail_loading" class="text-center">
    <img id="mySpinner" src="/static/templates/images/ajax-loader.gif" ng-show="email_detail_loading"/>
</div>
<div ng-hide="email_detail_loading">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Emails List :&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge label label-success"
                                                                                     ng-cloak>{$ selectedSeedEmails.length $}</span>
                        <img id="mySpinner" src="/static/templates/dist/img/ajax-loader.gif"
                             ng-show="email_detail_loading"/>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table ng-table="vm.emailsTableParams" class="table" ng-hide="email_detail_loading">
                                    <tbody>
                                    <tr role="row" class="odd" ng-repeat="mail in $data">
                                        <td title="{$ mail.id $}" filter="{ id: 'number'}" sortable="'id'" style="width: 10%;">
                                            {$ mail.id $}
                                        </td>
                                        <td title="{$ mail.email $}" filter="{ email: 'text'}" sortable="'email'">
                                            {$ mail.email $}
                                        </td>
                                        <td title="{$ mail.password $}" filter="{ password: 'text'}" sortable="'password'">
                                            {$ mail.password $}
                                        </td>
                                        <td title="{$ mail.isActive $}" filter="{ isActive: 'text'}" sortable="'isActive'">
                                            <span class="badge label" ng-class="{true: 'label-success', false: 'label-danger'}[mail.isActive]">{$ mail.isActive $}</span>
                                        </td>
                                        <td title="Actions">
                                            #?#
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>