<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="form-container">
            <div class="page-header text-center" style="padding: 1px;">
                <h2 style="color: #ffffff;">New job :</h2>
            </div>
            <div class="text-center job-create">
                <form id="seedCreate_form" ng-submit="vm.submitJob()"
                      style="min-height: 100px; padding-bottom: 0" novalidate>
                    <table class="table table-responsive">
                        <tr style="width: 100px">
                            <td style="border: none;">
                                <span class="pull-left"
                                      style="color:#fff; font-weight: bold; font-size: large;">Keyword :</span>
                            </td>
                            <td style="border: none;">
                                <input id="seedlist_name" type="text" class="form-control" placeholder="Keyword..."
                                       aria-describedby="sizing-addon1" ng-model="vm.job.keyword"
                                       name="seedList.name">
                            </td>
                        </tr>
                    </table>
                    <div class="box-body">
                        <table class="table table-responsive table-condensed">
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[0].isChecked">
                                        Mark spam as read.
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[1].isChecked">
                                        Not spam (spam to inbox).
                                    </label>
                                </td>
                            </tr>
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[2].isChecked">
                                        Mark inbox as read.
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[3].isChecked">
                                        Open inbox.
                                    </label>
                                </td>
                            </tr>
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[4].isChecked">
                                        Safe spam mail.
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[5].isChecked">
                                        Add contacts <b>INBOX</b>
                                    </label>
                                </td>
                            </tr>
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[6].isChecked">
                                        Click links <b>INBOX</b>
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox"
                                           style="color:#fff; font-weight: bold; font-size: small;">
                                        <input type="checkbox" ng-model="vm.job.actions[7].isChecked">
                                        Flag Mails <b>INBOX</b>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="box-body">
                        <div class="col-sm-12">
                            <table class="table-condensed table-responsive"
                                   style="width: 100%; border-style: solid;" ng-table="vm.tableParams"
                                   show-filter="true">
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="seed in $data" style="width: 100px;">
                                    <td style="border: none; padding: 0; color: #fff; text-align: left;">
                                        <input type="checkbox"
                                               ng-click="vm.toggleSeedSelection(seed, seed.id)"
                                               ng-checked="vm.findWithAttr(vm.job.selectedSeeds, 'id', seed.id) > -1">
                                    </td>
                                    <td style="border: none; padding: 0; color: #fff; text-align: left;" title="'Id'"
                                        filter="{ id: 'number'}" sortable="'id'">
                                        {$ seed.id $}
                                    </td>
                                    <td style="border: none; padding: 0; color: #fff; text-align: left;"
                                        title="'List Name'" filter="{ list_name: 'text'}" sortable="'list_name'">
                                        {$ seed.list_name $}
                                    </td>
                                    <td style="border: none; padding: 0; color: #fff; text-align: left;">
                                        50
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <hr style="margin: 0;">
                    <hr style="margin: 0;">
                    <hr style="margin: 0;">
                    <hr style="margin: 0;">
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


