<div id="legend">
    <legend class=""> New job :</legend>
</div>
<form id="FnewJOB" class="form-horizontal" method="POST">
    <div class="control-group">
        <!-- Level -->
        <label class="control-label">Keywords :</label>

        <div class="span4 pull-left">
            <input type="text" name="keywords" id="keywords" style="height: 30px">
            <br><i class="icon-info-sign" title="search"></i> To get all keywords use : <code> .* </code>
        </div>
    </div>

    <div class="control-group">
        <!-- Level -->
        <label class="control-label">Actions :</label>

        <div class="span4 pull-left _process">
            <label class="checkbox"><input type="checkbox" name="action[]" id="RS" value="0">Mark spam as
                read.</label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="NS" value="1">Not spam (spam
                to inbox).</label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="RI" value="2">Mark inbox as
                read.</label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="OI" value="3">Open
                inbox.</label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="RM" value="4">Replay inbox
                mail.</label>
            <!-- <label class="checkbox"> <input type="checkbox" name="action[]" id="MS" value="5">Mark As Spam.</label> -->
            <label class="checkbox"> <input type="checkbox" name="action[]" id="TR" value="6">Trust inbox
                mail</label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="SS" value="7">Safe spam mail</label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="AC" value="8">Add contacts
                <b>INBOX</b></label>
            <!--  tmp click action for grp4  -->
            <label class="checkbox"> <input type="checkbox" name="action[]" id="CL" value="9">Click links
                <b>INBOX</b></label>

            <label class="checkbox"> <input type="checkbox" name="action[]" id="FM" value="12">Flag Mails
                <b>INBOX</b></label>
        </div>

        <div class="_clear">
                        <span style="margin-left:-2.3%" class="text-info">Clear mailbox : <b>( no filter needed
                            )</b></span><br/><br/>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="CI" value="11">Clear <span
                    class="label label-info">Inbox</span> <code> ( this action may take a long time )</code></label>
            <label class="checkbox"> <input type="checkbox" name="action[]" id="CS" value="10">Clear <span
                    class="label label-important">Spam</span></label>
        </div>
    </div>

    <div class="control-group">
        <!-- Level -->
        <label class="control-label">List :</label>
        <label class="control-label"></label>

        <div class=" pull-left" style="margin-left: -16.5%;">
            <input type="hidden" name="list[]" value="" id="list"/>

            <div id="result" class="span6"></div>
        </div>
    </div>

    <div class="control-group">
        <!-- Level -->
        <button type="button" class="btn btn-success" id="btn_fast" name="btn_fast" value="btn_fast">
            Start process
        </button>
    </div>
</form>
