<table class="watable table table-striped table-hover table-bordered table-condensed">
    <thead>
    <tr class="sort">
        <th><a href="#" class="pull-left">id</a></th>
        <th><a href="#" class="pull-left">jobId</a></th>
        <th><a href="#" class="pull-left">Entered</a></th>
        <th><a href="#" class="pull-left">Finished</a></th>
        <th><a href="#" class="pull-left">Status</a></th>
        <th><a href="#" class="pull-left">Keyword</a></th>
        <th><a href="#" class="pull-left">Actions</a></th>
        <th><a href="#" class="pull-left">Processed</a></th>
        <th><a href="#" class="pull-left">Action</a></th>
    </tr>
    <tr class="filter">
        <th><input type="text" class="filter" placeholder="10..20 =50" data-original-title="" title=""></th>
        <th><input type="text" class="filter" placeholder="word" data-original-title="" title=""></th>
        <th><input type="text" class="filter" placeholder="word" data-original-title="" title=""></th>
        <th><input type="text" class="filter" placeholder="word" data-original-title="" title=""></th>
        <th><input type="text" class="filter" placeholder="word" data-original-title="" title=""></th>
        <th><input type="text" class="filter" placeholder="word" data-original-title="" title=""></th>
        <th><input type="text" class="filter" placeholder="word" data-original-title="" title=""></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>19825</td>
        <td><a class="jobid_mod" data-jobid="567dd63be6704" data-id="19825" data-toggle="modal"
               href="#">567dd63be6704</a>
        </td>
        <td>2015-12-25 22:50:19</td>
        <td>2015-12-26 01:23:15</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>23</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19824</td>
        <td><a class="jobid_mod" data-jobid="567dd62f21704" data-id="19824" data-toggle="modal"
               href="#">567dd62f21704</a>
        </td>
        <td>2015-12-25 22:50:07</td>
        <td>2015-12-26 02:09:09</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19823</td>
        <td><a class="jobid_mod" data-jobid="567dd62cacc19" data-id="19823" data-toggle="modal"
               href="#">567dd62cacc19</a>
        </td>
        <td>2015-12-25 22:50:04</td>
        <td>2015-12-26 03:04:59</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19822</td>
        <td><a class="jobid_mod" data-jobid="567dd62a50c9b" data-id="19822" data-toggle="modal"
               href="#">567dd62a50c9b</a>
        </td>
        <td>2015-12-25 22:50:02</td>
        <td>2015-12-26 03:29:21</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19821</td>
        <td><a class="jobid_mod" data-jobid="567dd6281ea88" data-id="19821" data-toggle="modal"
               href="#">567dd6281ea88</a>
        </td>
        <td>2015-12-25 22:50:00</td>
        <td>2015-12-26 02:44:07</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19820</td>
        <td><a class="jobid_mod" data-jobid="567dd625c8eb5" data-id="19820" data-toggle="modal"
               href="#">567dd625c8eb5</a>
        </td>
        <td>2015-12-25 22:49:57</td>
        <td>2015-12-26 03:10:20</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19819</td>
        <td><a class="jobid_mod" data-jobid="567dd623b4497" data-id="19819" data-toggle="modal"
               href="#">567dd623b4497</a>
        </td>
        <td>2015-12-25 22:49:55</td>
        <td>2015-12-26 02:52:19</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19818</td>
        <td><a class="jobid_mod" data-jobid="567dd5df6b1e5" data-id="19818" data-toggle="modal"
               href="#">567dd5df6b1e5</a>
        </td>
        <td>2015-12-25 22:48:47</td>
        <td>2015-12-26 00:22:58</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19817</td>
        <td><a class="jobid_mod" data-jobid="567dd5dc9707c" data-id="19817" data-toggle="modal"
               href="#">567dd5dc9707c</a>
        </td>
        <td>2015-12-25 22:48:44</td>
        <td>2015-12-26 01:59:07</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    <tr>
        <td>19816</td>
        <td><a class="jobid_mod" data-jobid="567dd5da0dfb6" data-id="19816" data-toggle="modal"
               href="#">567dd5da0dfb6</a>
        </td>
        <td>2015-12-25 22:48:42</td>
        <td>2015-12-26 00:54:21</td>
        <td><label class="label label-success">Finished</label></td>
        <td>Validate your email - from</td>
        <td><span class="label actions__1">Not Spam</span><span
                class="label actions__3">Open inbox</span></td>
        <td>30</td>
        <td>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="999"><p>Rows 1-10 of 107</p>

            <div class="btn-toolbar">
                <div class="btn-group">
                    <div class="pagination">
                        <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a class="pagenumber" href="#">1</a></li>
                            <li class=""><a class="pagenumber" href="#">2</a></li>
                            <li class=""><a class="pagenumber" href="#">3</a></li>
                            <li class=""><a class="pagenumber" href="#">4</a></li>
                            <li class=""><a class="pagenumber" href="#">5</a></li>
                            <li class=""><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group dropup pagesize">
                    <button href="#" data-toggle="dropdown" class="btn dropdown-toggle">Rows&nbsp;<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">5</a></li>
                        <li><a href="#">30</a></li>
                        <li><a href="#">200</a></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup columnpicker">
                    <button href="#" data-toggle="dropdown" class="btn dropdown-toggle">Columns&nbsp;<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><input type="checkbox" value="id" title="id" checked="">&nbsp;id</li>
                        <li><input type="checkbox" value="jobId" title="jobId" checked="">&nbsp;jobId</li>
                        <li><input type="checkbox" value="entered" title="entered" checked="">&nbsp;Entered</li>
                        <li><input type="checkbox" value="finished" title="finished" checked="">&nbsp;Finished</li>
                        <li><input type="checkbox" value="status" title="status" checked="">&nbsp;Status</li>
                        <li><input type="checkbox" value="keyword" title="keyword" checked="">&nbsp;Keyword</li>
                        <li><input type="checkbox" value="actions" title="actions" checked="">&nbsp;Actions</li>
                        <li><input type="checkbox" value="processed" title="processed" checked="">&nbsp;Processed</li>
                        <li><input type="checkbox" value="action" title="action" checked="">&nbsp;Action</li>
                    </ul>
                </div>
                <div class="btn-group dropup actions">
                    <button href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i
                            class="icon-list"></i>&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><label>
                            <input type="checkbox" checked="">
                        </label>&nbsp;Filter
                        </li>
                        <li><label>
                            <input type="checkbox" checked="">
                        </label>&nbsp;ColumnPicker
                        </li>
                        <li><a class="refresh" href="#"><i class="icon-refresh"></i>&nbsp;Refresh</a></li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    </tfoot>
</table>