<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="form-container">
            <div class="page-header text-center" style="padding: 1px;">
                <h2 style="color: #ffffff;">New job :</h2>
            </div>
            <div class="jumbotron job-create">
                <form id="seedCreate_form" ng-submit="vm.submitJob()"
                      style="min-height: 100px; padding-bottom: 0" novalidate>
                    <table class="table table-responsive">
                        <tr style="width: 100px">
                            <td style="border: none;">
                                <span class="pull-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subject :</span>
                            </td>
                            <td style="border: none;" id="job_keyword">
                                <input type="text" class="form-control" placeholder="Subject..."
                                       aria-describedby="sizing-addon1" ng-model="vm.job.keyword"
                                       name="seedList.keyword">
                            </td>
                        </tr>
                    </table>
                    <div class="box-body" style="padding-left: 100px;" id="job_actions">
                        <table class="table table-responsive table-condensed">
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[0].isChecked">
                                        Mark emails as read <b style="color: #D73925;">(SPAM)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus"
                                           title="Mark emails as read (SPAM)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[1].isChecked">
                                        Mark emails as not spam <b style="color: #D73925;">(SPAM)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus" data-placement="left"
                                           title="Mark emails as not spam (SPAM)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                            </tr>
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[4].isChecked">
                                        Mark emails content as safe/trusted  <b style="color: #D73925;">(SPAM)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus"
                                           title="Mark emails content as safe/trusted (SPAM)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[2].isChecked">
                                        Mark emails as read <b style="color: #00A65A;">(INBOX)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus" data-placement="left"
                                           title="Mark emails as read (INBOX)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                            </tr>
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[5].isChecked">
                                        Add sender to contacts <b style="color: #00A65A;">(INBOX)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus"
                                           title="Add sender to contacts (INBOX)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[6].isChecked">
                                        Click link inside <b style="color: #00A65A;">(INBOX)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus" data-placement="left"
                                           title="Click link inside (INBOX)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                            </tr>
                            <tr style="width: 100px">
                                <td style="border: none; padding: 0; width: 50%;" class="pull-left">
                                    <label class="checkbox pull-left" style="width: 85%;">
                                        <input type="checkbox" ng-model="vm.job.actions[7].isChecked">
                                        Mark emails as Flaged  <b style="color: #00A65A;">(INBOX)</b>.
                                    </label>
                                    <label style="width: 15%;" class="pull-right">
                                        <a href="#" tabindex="0" role="button" data-toggle="popover"
                                           data-trigger="focus"
                                           title="Mark emails as Flaged (INBOX)."
                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                            (?) </a>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="box-body">
                        <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr style="width: 100px">
                            <td style="border: none;">
                                <span class="pull-left"><b>Seed List :</b></span>
                            </td>
                            <td style="border: none;"></td>
                        </tr>
                    </table>
                            <table class="table table-hover dataTable" style="width: 100%"
                                   ng-table="vm.tableParams" show-filter="false" id="job_seed_list" ng-hide="loading"
                                   ng-cloak>
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="seed in $data" style="width: 100px;">
                                    <td>
                                        <input type="checkbox"
                                               ng-click="vm.toggleSeedSelection(seed, seed.id)"
                                               ng-checked="vm.findWithAttr(vm.job.selectedSeeds, 'id', seed.id) > -1">
                                    </td>
                                    <td title="'List Id'" filter="{ id: 'number'}" sortable="'id'">{$ seed.id $}</td>
                                    <td title="'List Name'" filter="{ name: 'text'}" sortable="'name'">{$ seed.name $}
                                    </td>
                                    <td title="'Count'">{$ seed.emails.length $}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="loading" class="text-center">
                                <img id="mySpinner" src="/static/images/ajax-loader.gif"/>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <hr style="margin: 0;">
                    <hr style="margin: 0;">
                    <hr style="margin: 0;">
                    <div id="formErrors" class="col-xs-8 col-sm-offset-2"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block">
                            Submit <i class="fa fa-check-circle"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>