<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <div class="well">
            <form role="form" ng-submit="vm.register()">
                <div class="form-group">
                    <label for="register__fname">First Name</label>
                    <input type="text" class="form-control" id="register__fname" ng-model="vm.fname"
                           placeholder="First Name ..."/>
                </div>

                <div class="form-group">
                    <label for="register__lname">Last Name</label>
                    <input type="text" class="form-control" id="register__lname" ng-model="vm.lname"
                           placeholder="Last Name ..."/>
                </div>

                <div class="form-group">
                    <label for="register__username">Username</label>
                    <input type="text" class="form-control" id="register__username" ng-model="vm.username"
                           placeholder="Username ..."/>
                </div>

                <div class="form-group">
                    <label for="register__password">Password</label>
                    <input type="password" class="form-control" id="register__password" ng-model="vm.password"
                           placeholder="Password ..."/>
                </div>
                <div class="form-group">
                    <label for="EntitySelect"> Entity: </label>
                    <select name="EntitySelect" id="EntitySelect" ng-model="vm.selected_entity" ng-change="vm.ENTITYSelected()">
                        <option ng-repeat="option in vm.entities"
                                value="{$ option.id $}">{$ option.name $}
                        </option>
                    </select>
                </div>

                <div class="form-group" ng-show="entity_teams.show" id="isp_teams">
                    <label for="TeamSelect"> Team: </label>
                    <select name="TeamSelect" id="TeamSelect" ng-model="vm.selected_team">
                        <option ng-repeat="option in vm.teams"
                                value="{$ option.id $}">{$ option.name $}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>