{% load compress %}
{% load staticfiles %}
{% compress js %}

    {#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>#}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-ui-1.10.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/morris/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/sparkline/jquery.sparkline.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/jqueryKnob/jquery.knob.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/plugins/iCheck/icheck.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'libs/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/underscore/underscore.js' %}"></script>

    <script type="text/javascript" src="{% static 'libs/angular/angular.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/angular-breadcrumb/release/angular-breadcrumb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/ngDialog/js/ngDialog.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/capvalue.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/capvalue.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/capvalue.routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/menu.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
{% endcompress %}
