<div id="formErrors" class="col-xs-8 col-sm-offset-2">

</div>
<label class="well"
       style="color: #FFF;background-color:#222D32;border-color: #222D32; margin-bottom:10px;margin-top: 20px; padding: 2px;">Seed
    List
    <div ng-show="vm.seedList.proxyType == 'manual'">
        <small>(Format: email,password,proxy,port,login,password)</small>
    </div>
    <div ng-show="vm.seedList.proxyType !== 'manual'">
        <small>(Format: email,password)</small>
    </div>
</label>

<div class="form-group" style="color:#fff;">

    <textarea class="form-control" placeholder="... ." rows="5" ng-model="vm.seedList.textarea_Input"
              ng-change="vm.seedListInputBind('textarea')"></textarea>

    <div>
        <input id="seedfile_import" type="file" file-model="vm.selectedFile"/>
    </div>
    <span ng-click="vm.seedListInputBind('file')">upload me</span>

    <div id="uploadedFiles" class="row"></div>
</div>