<!-- form.html -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">

            <div class="page-header text-center">
                <h2 style="color: #ffffff;">Seed List Creation</h2>

                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref="SeedCreate.info" class="disabled"><span>1</span> Infos</a>
                    <a ui-sref-active="active" ui-sref="SeedCreate.maillist" class="disabled"><span>2</span> Email List</a>
                    <a ui-sref-active="active" ui-sref="SeedCreate.proxy" class="disabled"><span>3</span> Proxy</a>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="signup-form" ng-submit="vm.processForm()" style="min-height: 260px;" novalidate>

                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>

        </div>
    <pre>
        {$ vm.formData $}
    </pre>
    <pre>
        {$ vm.seedList.emails.length $}
    </pre>
    </div>
</div>
