<!-- form-interests.html -->
<label class="well"
       style="color: #FFFFFF;background-color:#222D32;border-color: #222D32; margin-bottom:10px;margin-top: 20px; padding: 2px;">Seed
    List
    <small>(Ex: email,password)</small>
</label>
<div class="form-group">
    <textarea class="form-control" placeholder="Textarea" rows="3" ng-model="vm.formData.seedList_Input"
              ng-change="vm.seedListInputBind()"></textarea>
    <input type="file" file-model="vm.myFile"/>
    <span ng-click="vm.uploadFile()">upload me</span>
</div>
<hr>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="SeedCreate.proxy" class="btn btn-block btn-social btn-twitter">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
