<!-- form-payment.html -->
<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>

    <h3>Thanks For Your Money!</h3>

    <button type="submit" class="btn btn-danger">Submit</button>
</div>
