<!-- form-info.html -->

<!-- Seed.Name -->
<div class="input-group input-group-lg row">
    <span class="input-group-addon" id="sizing-addon1">Name</span>
    <input type="text" class="form-control" placeholder="Seed_*****" aria-describedby="sizing-addon1"
           ng-model="vm.formData.name">
</div>

<div class="row form-group">
    <h4 class="well"
        style="color: #FFFFFF;background-color:#222D32;border-color: #222D32; margin-bottom:10px;margin-top: 20px; padding: 2px;">
        Proxy Type
    </h4>
    <!-- Seed.ProxyType.html -->
    <div class="btn-block btn-group">
        <label class="btn btn-info">
            <input type="radio" ng-model="vm.formData.proxyType" value="manual" checked>
            Manual
        </label>
        <label class="btn btn-info">
            <input type="radio" ng-model="vm.formData.proxyType" value="proxy">
            Proxy
        </label>
        <label class="btn btn-info">
            <input type="radio" ng-model="vm.formData.proxyType" value="vpn">
            VPN
        </label>
    </div>
</div>
<hr>
<div class="form-group row" style="margin-top: 10px;">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="SeedCreate.maillist" class="btn btn-block btn-social btn-twitter" style="font-weight: bold;">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
