<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List Seed :&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge label label-success">{$ vm.seed_list_count $}</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table ng-table="vm.tableParams" class="table" show-filter="true">
                                <tbody>
                                <tr role="row" class="odd" ng-repeat="seed in $data">
                                    <td title="'Id'" filter="{ id: 'number'}" sortable="'id'">{$ seed.id $}</td>
                                    <td title="'List Name'" filter="{ list_name: 'text'}" sortable="'list_name'">{$
                                        seed.list_name $}
                                    </td>
                                    <td title="'Count'">50</td>
                                    <td title="'Active'">30</td>
                                    <td title="'Inactive'">20</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>