<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List Seed :</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover dataTable" id="example2" role="grid"
                                   aria-describedby="example2_info" ng-model="vm.seed_list">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">ID
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">List Name
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Total
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Active
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Engine version: activate to sort column ascending">Inactive
                                    </th>
                                </tr>
                                </thead>
                                <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to
                                    sort column descending">
                                        <input type="text" class="input-sm" placeholder="ID...">
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to
                                    sort column descending">
                                        <input type="text" class="input-sm" placeholder="List Name...">
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to
                                    sort column descending">
                                        <input type="text" class="input-sm" placeholder="Total..">
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to
                                    sort column descending">
                                        <input type="text" class="input-sm" placeholder="Active">
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to
                                    sort column descending">
                                        <input type="text" class="input-sm" placeholder="Inactive">
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr role="row" class="odd" ng-repeat="seed in vm.seed_list">
                                    <td>{$ seed.id $}</td>
                                    <td>{$ seed.list_name $}</td>
                                    <td>50</td>
                                    <td>30</td>
                                    <td>20</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" role="status" aria-live="polite">Showing 1
                                to 10 of 57 entries
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="pull-right">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" id="example2_previous">
                                        <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                                    </li>
                                    <li class="paginate_button active">
                                        <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a>
                                    </li>
                                    <li class="paginate_button next" id="example2_next">
                                        <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>