<!DOCTYPE html>
<html ng-app="capvalue">
<head>
    <title>Capvalue Consulting Tools</title>
    <base href="/"/>
    {% include 'stylesheets.html' %}
</head>

<body class="skin-blue">
<header class="header">
    {% include 'navbar.html' %}
</header>
<div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 711px;">
    <aside style="min-height: 2056px;" class="left-side sidebar-offcanvas">
        {% include 'menu.html' %}
    </aside>
    <aside class="right-side">
        <section class="content-header">
            {% include 'breadcrumb.html' %}
        </section>
        <section class="content">
            <div ui-view></div>
        </section>
    </aside>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright © 2015-2016 <a href="#">Soufiane MGHANEN</a>.</strong> All rights
    reserved.
</footer>
{% include 'javascripts.html' %}
</body>
</html>
