{% load compress %}{% load staticfiles %}{% compress js %}
    <script type="text/javascript" src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular/angular.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/angular-breadcrumb/release/angular-breadcrumb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/ngDialog/js/ngDialog.js' %}"></script>

    {#----------------------------------------------------------------------------------------------------------------#}
    <script type="text/javascript" src="{% static 'javascripts/capvalue.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/capvalue.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/capvalue.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/menu.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
{% endcompress %}
