{% load staticfiles %}
{% if user.is_authenticated %}
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{% static 'templates/dist/img/avatar5.png' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{ user.username }}</p>
            <a href="#">
                <i class="fa fa-circle text-success"></i>
                Mailer
            </a>
        </div>
    </div>
{% endif %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">REPORTING</li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-tasks"></i> <span>Jobs</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="job/create/"><i class="fa fa-plus-square"></i> <span>Create Job</span></a></li>
            <li><a href="job/list/"><i class="fa fa-bars"></i> <span>All Jobs</span></a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-newspaper-o"></i> <span>Seeds</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a ui-sref="SeedCreate.info"><i class="fa fa-plus-square"></i> <span>Create Seed List</span></a></li>
            <li><a href="seed/list/"><i class="fa fa-bars"></i> <span>Seed Lists</span></a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Proxies</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-bars"></i> <span>Proxy Lists</span></a></li>
        </ul>
    </li>
</ul>



