<section class="sidebar">
    <ul class="nav sidebar-menu">
        <li>
            <a href="job/create/">
                <i class="fa fa-plus-square"></i> <span>Create Job</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="job/list/">
                <i class="fa fa-tasks"></i> <span>All Jobs</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="seed/create/">
                <i class="fa fa-plus-square"></i> <span>Create Seed List</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="seed/list/">
                <i class="fa fa-bars"></i> <span>Seed Lists</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bars"></i> <span>Proxy Lists</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
    </ul>
</section>
