<section class="sidebar">
    <ul class="sidebar-menu">

        <li class="active">
            <a href="index.html">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-plus-square"></i> <span>Create Job</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-tasks"></i> <span>All Jobs</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-bars"></i> <span>Seed Lists</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-bars"></i> <span>Proxy Lists</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-plus-square"></i> <span>Create Seed List</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-at"></i> <span>Email Manager</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-tags"></i> <span>Keyword report</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-th-list"></i> <span>Job Details</span>
                {#<small class="badge pull-right bg-green">new</small>#}
            </a>
        </li>
    </ul>
</section>
