{% load compress %}{% load staticfiles %}{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/Ionicons/css/ionicons.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/iCheck/skins/all.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'templates/dist/css/CapValue.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'templates/dist/css/skin-purple.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/jvectormap/jquery-jvectormap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'templates/dist/img/favicon.ico' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script type="text/css" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script type="text/css" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->{% endcompress %}
