<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <div class="well">
            <form role="form" ng-submit="vm.register()">
                <div class="form-group">
                    <label for="register__fname">First Name</label>
                    <input type="text" class="form-control" id="register__fname" ng-model="vm.fname"
                           placeholder="ex. jon"/>
                </div>

                <div class="form-group">
                    <label for="register__lname">Username</label>
                    <input type="text" class="form-control" id="register__lname" ng-model="vm.lname"
                           placeholder="ex. lajoie"/>
                </div>

                <div class="form-group">
                    <label for="register__username">Username</label>
                    <input type="text" class="form-control" id="register__username" ng-model="vm.username"
                           placeholder="ex. jlajoie"/>
                </div>

                <div class="form-group">
                    <label for="register__password">Password</label>
                    <input type="password" class="form-control" id="register__password" ng-model="vm.password"
                           placeholder="ex. thisisnotgoogleplus"/>
                </div>
                <div class="form-group">
                    <label for="IspSelect"> ISP: </label>
                    <select name="IspSelect" id="IspSelect" ng-model="vm.selected_isp" ng-change="vm.ISPSelected()">
                        <option ng-repeat="option in vm.isps"
                                value="{$ option.id $}">{$ option.isp_name $}
                        </option>
                    </select>
                </div>

                <div class="form-group" ng-show="isp_teams.show" id="isp_teams">
                    <label for="TeamSelect"> Team: </label>
                    <select name="TeamSelect" id="TeamSelect" ng-model="vm.selected_team">
                        <option ng-repeat="option in vm.teams"
                                value="{$ option.id $}">{$ option.team_name $}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>